

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color:rgb(32, 30, 41);
}
.fct_hidden {
    display: none;
}
.fct_visible {
    display:inline;
}
.fcmfcr  {
    margin-top: 30px;
    padding: 5px;

} 
.buttons {
    padding: 20px 0 8px 0;
}
.hidden {
    display: none;
}
.zones{
    display: block;
    margin-top: 10px;
}
.cabecera {
    margin-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(160px, auto);
    width: auto;
    text-align: right;
  }
.wrapper-diagram{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.9px;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
}
.br-zone {
    color: white;
    width: 52px;
    text-align: right;
    margin-top: 24px;
    margin-left: 6px;
    top: -8px !important;
    position: relative;
  }

.brackets {
    width: 35px;
    margin-top: 17px;
    position: relative;
    top: -6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1rem; */
    max-width: 60px;
  }
  
  @media (max-width: 20px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .col, .col input {
    margin: auto;
    text-align: center;
    padding: 2px;
  }
  input {
    width: 55px;
    height: 40px;
    margin-bottom: 8px !important;
    border-radius: 5px;
  }
#perc50 {
margin-top: 5px !important;
}
#perc100 {
    margin-bottom: 20px !important;
}
#zone0 {
    margin-top: 5px !important;
}
#zone5 {
    margin-bottom: 20px !important;
}

