

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color:rgb(32, 30, 41);
}
.fct_hidden {
    display: none;
}
.fct_visible {
    display:inline;
}
.fcmfcr  {

    margin-top: 30px;
    padding: 5px;
/* label {
    margin: 5px;*/
} 
.buttons {
    padding: 25px;
}
.hidden {
    display: none;
}
/* .visible {
    display:inline;
} */
.zones{
    display: block;
    margin-top: 10px;
}
.cabecera {
    margin-bottom: 5px;
}
#zone0,#zone1,#zone2,#zone3,#zone4,#zone5 {
    margin-left: 13px;
}
#perc50,#perc60,#perc70,#perc80,#perc90,#perc100 {
    /* margin-left: 5px; */
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(160px, auto);
    width: auto;
    text-align: right;
  }
.wrapper-diagram{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.9px;
    grid-auto-rows: minmax(10px, auto);
    width: auto;
}
.br-zone {
    margin-top: 4px;
    color: white;
    width: auto;
    text-align: right;
  }
#bracket {
    width: 35px;
    margin-top: 0.7px;
}
